
:root {
  padding: 0;
  margin: 0;
}

.window-app.sheet {
  min-width: 790px;
  width: 790px;
}

.sheet header.sheet-header img{
  height: 100%;
}

header.sheet-header {
  height: 100px;
  display: flex;
  padding-bottom: 5px;
}

.header-information{
  display: flex;
  height: 100%;
}

.body {
  display: flex;
}

div.main-content {
  display: flex;
  padding-top: 5px;
  height: 85%;
}

div.Aspects-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

div.Aspect {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-style: groove;
}

div.Aspect-Header {
  background-color: hsl(50,100%,80%);
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-bottom: groove;
}

div.Aspect-Header h3 {
  width: 60%;
  margin: 0;
  align-self: center;
}

div.Aspect-Header input {
  margin: 0;
  width: 4ch;
  text-align: center;
}

div.Aspect-Body {
  flex: 3;
  display: flex;
  flex-direction: column;
}

div.Attribute {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

a.Aspect-Hyperlink {
  align-self: center;
}

a.Attribute-Hyperlink {
  align-self: center;
}

div.Attribute h3 {
  margin: 0;
  align-self: center;
}

div.Attribute input{
  width: 4ch;
  text-align: center;
}

div.Professions {
  flex: 2;
  margin: 5px;
  border-style: groove;
}

div.profession-div {
    display: flex;
    justify-content: space-between;
    border-bottom-style: groove;
}

div.Professions-header {
  background-color: hsl(100,100%,80%);
  display: flex;
  justify-content: space-between;
  border-bottom-style: groove;
}

div.Professions-header i {
  align-self: center;
  padding-top: 3px;
}

div.Professions-header h3 {
  align-self: center;
  margin: 0;
}

div.Possessions-div {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

div.item-wrapper {
  display: flex;
  flex: 2;
}

div.equipment-div {
  margin: 5px;
  flex: 1;
  border-style: groove;
}

div.equipment-header {
  display: flex;
  justify-content: space-between;
}

table.equipment-information {
  width: 100%;
}


div.apparel-div {
  margin: 5px;
  flex: 1;
  border-style: groove;
}

div.item-div {
  margin: 5px;
  flex: 1;
  border-style: groove;
}

div.talent-status-wrapper {
  flex: 1;
  display: flex;
}

div.status-div {
  margin: 5px;
  flex: 1;
  border-style: groove;
}

div.talents-div {
  margin: 5px;
  flex: 1;
  border-style: groove;
}

h3.possession-header {
  text-align: center;
  margin-bottom: 0px;
}
