div.roll-dialog-form {
  display: flex;
  flex-direction: column;
}

div.roll-form-group {
  align-items: center;
  display: flex;
  justify-content:space-around;
}

div.roll-form-divider {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

div.roll-form-group input {
  width: 4ch;
}

div.roll-form-group label {
  font-size: 2ch;
  margin-right: 1ch;
}

.input-partial {
  flex: 1;
  margin: 0;
  padding: 0;
}
