<tr>
  <td>{{name}}</td>
  <td>{{data.amount}}</td>
  <td class="control">
    <a class="edit-item" data-id="{{_id}}" data-type="misc"><i class="fas fa-edit" title="edit item"></i></a>
    <a class="delete-item" data-id="{{_id}}" data-type="misc"><i class="fas fa-trash" title="remove item"></i></a>
  </td>
</td>
