<tr draggable="true">
  <th class="skillName advSkill">{{name}}</th>
  <th class="advanced-skill-edit-delete">
    <a class="edit-item edit-item" data-id="{{_id}}" data-type="advancedskill"><i class="fas fa-edit" title="edit expertise"></i></a>
    <a class="del-item delete-item" data-id="{{_id}}" data-type="advancedskill"><i class="fas fa-trash" title="remove expertise"></i></a>
  </th>
</tr>
