<div class="profession-div">
  <div class="profession">{{name}}</div>
  <div class="profession-edit-delete">
    <a class="edit-item" data-id="{{_id}}" data-type="advancedskill"><i class="fas fa-edit" title="edit profession"></i></a>
    <a class="delete-item" data-id="{{_id}}" data-type="advancedskill"><i class="fas fa-trash" title="remove profession"></i></a>
  </div>
</div>
