<form class="roll-dialog-form" onload="init()">
  <div class="roll-form-group">
    <div class="roll-form-divider">
      <label id="Opposed">Opposed Roll</label>
      <input type="checkbox" id="opposed" name="opposed" 
      {{#if lastOpposed}}
        checked="true"
      {{/if}}
      ></input>
    </div>
    <div class="roll-form-divider">
      <a id="increment-target" onmousedown="incrementTarget(event)"><label>Target:</label></a>
      <input id="targetInput" name="target" value="{{target}}"/>
    </div>
  </div>
</form>

<script>

  function init()
  {
    console.log("ARUBA");
  }
  // TODO: Refactor and move to js file.

  function incrementTarget(event) {
    let input = document.getElementById("targetInput");
    if (event.button == 0) {
      ++input.value;
    }
    else if (event.button == 2) {
      if(input.value > 0)
        --input.value;
    }
  }
</script>
