<form class="roll-dialog-form">
  <div class="roll-form-group">
    <label>Target</label>
    <input name="target" value="10"></input>
  </div>
  <div class="roll-form-group">
    <label>Bonus</label>
    <input name="bonus" value="0"></input>
  </div>
</form>
