<tr>
  <td>{{name}}</td>
  <td class="control">
    <a class="edit-item" data-id="{{_id}}" data-type="talent"><i class="fas fa-edit" title="edit equipment"></i></a>
    <a class="delete-item" data-id="{{_id}}" data-type="talent"><i class="fas fa-trash" title="remove equipment"></i></a>
  </td>
</td>
