<div class="equipment-card">

    <div class="item-name">
      <p><b>{{name}}</b></p>
    </div>
  
    <div class="item-control">
      <a class="edit-item edit-item" data-id="{{_id}}" data-type="talent"><i class="fas fa-edit" title="edit weapon"></i></a>
      <a class="del-item delete-item" data-id="{{_id}}" data-type="talent"><i class="fas fa-trash" title="remove weapon"></i></a>
    </div>

</div>
