<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.img}}" height="64" width="64"/>
        <h1 class="charname"><input class="nameBox" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>
    <body>
      <div class="Aspects-div">
        HELLO
      </div>
    </body>
</form>


<!--
<div class="attribute-box">
  <p><b><a class="attribute-hyperlink" data-attribute="strength">{{localize "brap.attributes.strength"}}</a></b></p>
  <div class="subbox">
    <input name="data.strength.value" type="text" value="{{data.strength.value}}" data-dtype="Number"/>
    <p><b>/</b></p>
    <input  name="data.strength.max" type="text" value="{{data.strength.max}}" data-dtype="Number"/>
  </div>
</div>
-->
