<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
    </header>
    <body>
      <div class="body-div">
      <div class="header-content">
        <div class="img-div">
          <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}" />
        </div>
        <div class="header-information">
          <div class="header-information-divider">
            <div class="information-pair-div">
              <label class="header-info">Name:</label>
              <input class="nameBox" name="name" type="text" value="{{actor.name}}" placeholder=""/>
            </div>
            <div class="information-pair-div">
              <label class="header-info">Kin:</label>
              <input class="nameBox" name="data.kin" type="text" value="{{data.data.kin}}" placeholder=""/>
            </div>
            <div class="information-pair-div">
              <label class="header-info">Age:</label>
              <input class="nameBox" name="data.age" type="text" value="{{data.data.age}}" placeholder=""/>
            </div>
            <div class="information-pair-div">
              <label class="header-info">Fate:</label>
              <input class="nameBox" name="data.fate" type="text" value="{{data.data.fate}}" placeholder=""/>
            </div>
          </div>
          <div class="header-information-divider">
            <div class="information-pair-div">
              <label class="header-info">Fame:</label>
              <input class="nameBox" name="data.fame" type="text" value="{{data.data.fame}}" placeholder=""/>
            </div>
            <div class="information-pair-div">
              <label class="header-info">Infamy:</label>
              <input class="nameBox" name="data.infamy" type="text" value="{{data.data.infamy}}" placeholder=""/>
            </div>
            <div class="information-pair-div">
              <label class="header-info">Funds:</label>
              <input class="nameBox" name="data.funds" type="text" value="{{data.data.funds}}" placeholder=""/>
            </div>
            <div class="information-pair-div">
              <label class="header-info">Exp:</label>
              <input class="nameBox" name="data.exp" type="text" value="{{data.data.exp}}" placeholder=""/>
            </div>
          </div>
          <div class="header-information-buttons">
            <button id="journalButton" class="header-button" name="Journal" text="abba">Journal</button>
            <button id="headerButton" class="header-button" name="Bio">Bio</button>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="Aspects-div">
          {{#each aspects as |aspect id|}}
          {{> "systems/lars/templates/sheets/partials/aspect.hbs" }}
          {{/each}}
          <div class="Professions">
            <div class="Professions-header">
              <h3>Professions</h3>
              <a class="create-item" data-id="{{_id}}" data-type="profession"><i class="fas fa-plus"></i></a>
            </div>
              {{#each professions as |profession id|}}
              {{> "systems/lars/templates/sheets/partials/profession-card.hbs" }}
              {{/each}}
          </div>
        </div>
        <div class="Possessions-div">
          <div class="item-wrapper">
            <div class="equipment-div">
              <table class="equipment-information">
                <caption>Equipment</caption>
                <thead>
                <tr>
                  <td>Name</td>
                  <td>Bonus</td>
                  <td>Grip</td>
                  <td>Range</td>
                  <td class="tags">Tags</td>
                  <td class="control">
                    <a class="create-item" data-id="{{_id}}" data-type="equipment"><i class="fas fa-plus"></i></a>
                  </td>
                </tr>
                </thead>
                <tbody>
                {{#each equipments as |equipment id|}}
                {{> "systems/lars/templates/sheets/partials/equipment-cards.hbs" }}
                {{/each}}
                </tbody>
              </table>
            </div>
            <div class="apparel-misc-wrapper">
              <div class="apparel-div">
                <table class="equipment-information">
                  <caption>Apparel</caption>
                  <thead>
                  <tr>
                    <td>Name</td>
                    <td>Defence</td>
                    <td class="tags">Tags</td>
                    <td class="control">
                      <a class="create-item" data-id="{{_id}}" data-type="apparel"><i class="fas fa-plus"></i></a>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                    {{#each apparel as |apparel id|}}
                    {{> "systems/lars/templates/sheets/partials/apparel-cards.hbs" }}
                    {{/each}}
                  </tbody>
                </table>
              </div>
              <div class="misc-div">
                <table class="equipment-information">
                  <caption>Items</caption>
                  <thead>
                  <tr>
                    <td>Name</td>
                    <td>Amount</td>
                    <td class="control">
                      <a class="create-item" data-id="{{_id}}" data-type="misc"><i class="fas fa-plus"></i></a>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                    {{#each misc as |misc id|}}
                    {{> "systems/lars/templates/sheets/partials/misc-cards.hbs" }}
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="talent-status-wrapper">
            <div class="status-div">
              <table class="equipment-information">
                <caption>Status</caption>
                <thead>
                <tr>
                  <td>Name</td>
                  <td>Duration</td>
                  <td>Effect</td>
                  <td class="control">
                    <a class="create-item" data-id="{{_id}}" data-type="status"><i class="fas fa-plus"></i></a>
                  </td>
                </tr>
                </thead>
                <tbody>
                  {{#each status as |status id|}}
                  {{> "systems/lars/templates/sheets/partials/status-cards.hbs" }}
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="talents-div">
              <table class="equipment-information">
                <caption>Talents</caption>
                <thead>
                <tr>
                  <td>Name</td>
                  <td class="control">
                    <a class="create-item" data-id="{{_id}}" data-type="talent"><i class="fas fa-plus"></i></a>
                  </td>
                </tr>
                </thead>
                <tbody>
                  {{#each talents as |talent id|}}
                  {{> "systems/lars/templates/sheets/partials/talent-cards.hbs" }}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </body>
</form>
