<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <table>
      <tr>
        <th>duration</th>
        <th><input name="data.duration" type="text" value="{{data.duration}}"/></th>
        <th>effect</th>
        <th><input name="data.effect" type="text" value="{{data.effect}}"/></th>
      </tr>
    </table>
    <div class="description-div">
      <p><b>description</b></p>
      <textarea name="data.description" type="text">{{data.description}}</textarea>
    </div>
</form>
